---
import { Wrench } from "lucide-react";
---

<!-- Skills & Technologies -->
<section class="py-20 bg-gray-100 dark:bg-gray-900">
  <div class="container mx-auto px-4">
    <div class="flex items-center gap-2 mb-12 justify-center">
      <Wrench className="h-8 w-8 text-primary" />
      <h2 class="text-4xl font-bold text-center text-gray-900 dark:text-white">
        Habilidades e Tecnologias
      </h2>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
    >
      <!-- Frontend -->
      <div class="bg-white dark:bg-gray-800 rounded-lg p-6 shadow-lg">
        <h3
          class="text-2xl font-semibold mb-4 text-center text-gray-900 dark:text-white"
        >
          Frontend
        </h3>
        <div class="grid grid-cols-3 gap-6">
          <div class="flex flex-col items-center gap-2">
            <img src="/icones/react.png" alt="React" class="h-8 w-8" />
            <span class="text-sm text-gray-600 dark:text-gray-400">React</span>
          </div>

          <div class="flex flex-col items-center gap-2">
            <img
              src="/icones/reactnative.png"
              alt="React Native"
              class="h-8 w-8"
            />
            <span class="text-sm text-gray-600 dark:text-gray-400"
              >React Native</span
            >
          </div>

          <div class="flex flex-col items-center gap-2">
            <img
              src="/icones/astro.png"
              alt="Astro"
              class="h-8 w-8 dark:invert"
            />
            <span class="text-sm text-gray-600 dark:text-gray-400">Astro</span>
          </div>

          <div class="flex flex-col items-center gap-2">
            <img
              src="/icones/next.png"
              alt="Next.js"
              class="h-8 w-8 dark:invert"
            />
            <span class="text-sm text-gray-600 dark:text-gray-400">Next.js</span
            >
          </div>

          <div class="flex flex-col items-center gap-2">
            <img src="/icones/bootstrap.png" alt="Bootstrap" class="h-8 w-8" />
            <span class="text-sm text-gray-600 dark:text-gray-400"
              >Bootstrap</span
            >
          </div>

          <div class="flex flex-col items-center gap-2">
            <img src="/icones/tailwind.png" alt="TailwindCSS" class="h-8 w-8" />
            <span class="text-sm text-gray-600 dark:text-gray-400"
              >TailwindCSS</span
            >
          </div>

          <div class="flex flex-col items-center gap-2">
            <img src="/icones/jquery.png" alt="jQuery" class="h-8 w-8" />
            <span class="text-sm text-gray-600 dark:text-gray-400">jQuery</span>
          </div>

          <div class="flex flex-col items-center gap-2">
            <img src="icones/javascript.png" alt="JavaScript" class="h-8 w-8" />
            <span class="text-sm text-gray-600 dark:text-gray-400"
              >JavaScript</span
            >
          </div>
        </div>
      </div>

      <!-- Backend -->
      <div class="bg-white dark:bg-gray-800 rounded-lg p-6 shadow-lg">
        <h3
          class="text-2xl font-semibold mb-4 text-center text-gray-900 dark:text-white"
        >
          Backend
        </h3>
        <div class="grid grid-cols-3 gap-6">
          <div class="flex flex-col items-center gap-2">
            <img src="/icones/php.png" alt="PHP" class="h-8 w-8" />
            <span class="text-sm text-gray-600 dark:text-gray-400">PHP</span>
          </div>

          <div class="flex flex-col items-center gap-2">
            <img src="/icones/java.png" alt="Java" class="h-8 w-8" />
            <span class="text-sm text-gray-600 dark:text-gray-400">Java</span>
          </div>

          <div class="flex flex-col items-center gap-2">
            <img
              src="/icones/node.png"
              alt="Node.js"
              class="h-8 w-8 dark:invert"
            />
            <span class="text-sm text-gray-600 dark:text-gray-400">Node.js</span
            >
          </div>

          <div class="flex flex-col items-center gap-2">
            <img
              src="/icones/python.png"
              alt="Python"
              class="h-8 w-8 dark:invert"
            />
            <span class="text-sm text-gray-600 dark:text-gray-400">Python</span>
          </div>
        </div>
      </div>

      <!-- Databases -->
      <div class="bg-white dark:bg-gray-800 rounded-lg p-6 shadow-lg">
        <h3
          class="text-2xl font-semibold mb-4 text-center text-gray-900 dark:text-white"
        >
          Databases
        </h3>
        <div class="grid grid-cols-3 gap-6">
          <div class="flex flex-col items-center gap-2">
            <img
              src="/icones/postgresql.png"
              alt="PostgreSQL"
              class="h-8 w-8"
            />
            <span class="text-sm text-gray-600 dark:text-gray-400"
              >PostgreSQL</span
            >
          </div>
          <div class="flex flex-col items-center gap-2">
            <img
              src="/icones/mysql.png"
              alt="MySQL"
              class="h-8 w-8 dark:invert"
            />
            <span class="text-sm text-gray-600 dark:text-gray-400">MySQL</span>
          </div>
          <div class="flex flex-col items-center gap-2">
            <img src="/icones/mongodb.png" alt="MongoDB" class="h-8 w-8" />
            <span class="text-sm text-gray-600 dark:text-gray-400">MongoDB</span
            >
          </div>
        </div>
      </div>

      <!-- DevOps -->
      <div class="bg-white dark:bg-gray-800 rounded-lg p-6 shadow-lg">
        <h3
          class="text-2xl font-semibold mb-4 text-center text-gray-900 dark:text-white"
        >
          DevOps
        </h3>
        <div class="grid grid-cols-3 gap-6">
          <div class="flex flex-col items-center gap-2">
            <img src="/icones/docker.png" alt="Docker" class="h-8 w-8" />
            <span class="text-sm text-gray-600 dark:text-gray-400">Docker</span>
          </div>
          <div class="flex flex-col items-center gap-2">
            <img src="/icones/aws.png" alt="AWS" class="h-8 w-8 dark:invert" />
            <span class="text-sm text-gray-600 dark:text-gray-400">AWS</span>
          </div>
          <div class="flex flex-col items-center gap-2">
            <img src="/icones/cloud.png" alt="AWS" class="h-8 w-8" />
            <span class="text-sm text-gray-600 dark:text-gray-400"
              >Oracle Cloud</span
            >
          </div>
          <div class="flex flex-col items-center gap-2">
            <img
              src="/icones/kubernetes.png"
              alt="Kubernetes"
              class="h-8 w-8 dark:invert"
            />
            <span class="text-sm text-gray-600 dark:text-gray-400"
              >Kubernetes</span
            >
          </div>
        </div>
      </div>

      <!-- Tools -->
      <div class="bg-white dark:bg-gray-800 rounded-lg p-6 shadow-lg">
        <h3
          class="text-2xl font-semibold mb-4 text-center text-gray-900 dark:text-white"
        >
          Tools
        </h3>
        <div class="grid grid-cols-3 gap-6">
          <div class="flex flex-col items-center gap-2">
            <img src="/icones/git.png" alt="Git" class="h-8 w-8" />
            <span class="text-sm text-gray-600 dark:text-gray-400">Git</span>
          </div>

          <div class="flex flex-col items-center gap-2">
            <img src="/icones/linux.png" alt="Linux" class="h-8 w-8" />
            <span class="text-sm text-gray-600 dark:text-gray-400">Linux</span>
          </div>

          <div class="flex flex-col items-center gap-2">
            <img src="/icones/windows.png" alt="Linux" class="h-8 w-8" />
            <span class="text-sm text-gray-600 dark:text-gray-400">Windows</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
